<footer class="flex bg-zinc-900 text-zinc-50 px-3 py-5 justify-between text-sm">
    <div>
        COPYRIGHTS&copy;2023.All Rights Reserved
    </div>
    <div>
        Design By Ch1yo.
    </div>
</footer>